[Unit]
Description=Docker grafana
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a grafana
ExecStop=/usr/bin/docker stop -t 2 grafana

[Install]
WantedBy=multi-user.target
